*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: "Source Sans Pro";
    min-width: 100%;
    scroll-behavior:initial;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: 0 auto; 
    padding: 20px;
}

#formattingPanel {
    background-color: #444;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#formattingPanel button {
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    transition: background-color 0.3s;
}

#formattingPanel button:hover {
    background-color: #777;
}

#articleForm {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

label, input, select {
    margin-bottom: 10px;
    font-size: 18px;
}

#content {
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 16px;
    resize: vertical;
}

#resizeHandle {
    margin-top: 10px;
}

.submit-button {
    margin-right: 30px;
    width: 160px;
    height: 50px;
    background-color: rgb(106, 210, 134);
    color: #2d2d2d;
    /* border: none; */
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25); 
    cursor: pointer;
    font-style: bold;
    transition: 0.6s;
}

.submit-button:hover {
    background-color: rgb(22, 190, 67);
    color:white;
    transition: 0.6s;
}

/* Стилі для кнопки вибору файлу */
.file-upload-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-upload-btn:hover {
    background-color: #45a049;
}

/* Приховуємо стандартний інпут файлу */
.file-upload-input {
    display: none;
}