*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: blueviolet;
}
@media screen and (max-width:500px) {
        
}
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.general{
    min-height: 100%;
    flex-direction: column;
}

.header {
    text-align: center;
    background-image: url(/img/Ske.png);
    /* background-size: 100% auto; */
    background-position: center;
    width: 100%;
    height: 300px; /* Задайте висоту хедеру */
    position: relative;
}

.nav {
    display: flex;
    color: linear-gradient ( 1000deg, black, white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.Menu-icon {
    padding: 0px;
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 200px;
}

.header-list {
    text-align: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-list-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: Source Sans Pro;
    margin: 5px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    display: block;
}

@media screen and (min-width:768px) {
    .header {
    height:200px;
    }
    .nav {
        font-size: 20px;
    }
}
.imposition{
    /* display:flex; */
    position: absolute;
    text-align: center;
    top: 150%;
    width: 100%;
    color: #fff;
}
.backround-terastro {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}


/**************************Main******************/

.main {
    /* text-align: center; */
    margin-top: 450px;
    margin-bottom: 50px;
    display: flex;
    flex: 1 1 auto;
}
.main-contents{
    margin: 10px;
    
}
.text-main{
    margin-top: 300px ;
}
.main-links{
    margin-left: 20%;
    margin-top: -40px;
    color: black;
}
.link-links{
    margin: 20px 0px;

}

.contacts-link{
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration:underline;
    color: black;
    
}

.main-text{
    display: block;
    font-size: 14pt;
    font-family: georgia, palatino, serif;
    /* text-align: center; */
    position: relative;
    padding-top: 450px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.text-sky{
    margin-top: 300px;
}
.main-text-description{
    margin-left: 25%;
    margin-right: 25%;
    font-family:'Times New Roman', Times, serif;
}
.main-photo{
    height: 400px;
    display: block;
    margin: 20px auto;
}
.text-link{
    margin-top: -350px;
}
.main-articles{
    display: flex;
}
.articles{
    background-color: #b7b7b7;
    margin-top: 450px;
    margin-left: 250px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.data-text{
    font-size: 14px;
    padding: 5px;
}
.articles-title{
    font-size: 18px;
    padding: 5px;
}
.text-artilcle{
    padding: 5px;
}
.link-articles{
    padding: 5px;
    color: black;
}
.name-author{
    color: black;
}
/************************Footer**************************/

.title{
    color: rgb(255, 255, 255);
}
.footer-item {
    background-image: url(/img/terastro.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    text-decoration: none;
    background-position: center;
    width: 100%;
    height: 300px; /* Задайте висоту хедеру */
    position: relative;
}
.footer-title{
    text-transform: none;

}
.footer-link{
    text-decoration: none;
    color: #fff;
}