*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: "Source Sans Pro";
    min-width: 100%;
}
a{
    text-decoration: none;
    color: #000000;
}

.wrapper {  
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 50px;
}

/*--------------------------------------------------MENU-------------------------------------------------*/
.header {
    position: relative; /* якщо приліпити меню до верхньої грані, то викростати position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    /* margin-bottom: 300px; */
    z-index: 50;
    justify-content: center;
}
.header::before{
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #000000; */
    z-index: 2;
}

.header_body {
    position: relative;
    /*z-index: 2;*/
    display: flex;
    justify-content: end;
    /*justify-content: space-between;*/
    height: 80px;
    align-items: center;
}
@media(min-width:1024px) {
    .header_link{
        font-size: 9px;
    }
    
}
/*---------------------------------------------------------------------------------------------------------*/

.backround-img{
    position: absolute;
    min-width: 100%;
    /* height: 100%; */
    margin: 0  0;
    overflow: hidden;

}

img{
    max-width: 100%;
    height: 100%;
    /* display: block; */
}

.backround-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overley{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    overflow: hidden;
}
#link{
    overflow: hidden;
    object-fit: cover; 
}


/*------------------------------------------------HEADER-TITLE---------------------------------------------*/
.focus_word{
    align-items: center;
    text-align: center;
    margin: 50px 0 0px 0;
    display: block;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 4px;
    position: relative;
    animation: text 3s 1 forwards ;
    color: rgb(255, 255, 255);
}
@keyframes text{
    0%{
        color:#3f3f3f;
        left: -100%;
    }
    30%{
        letter-spacing: 10px;
        left: 0.01%;
    }
    85%{
        letter-spacing: 4px;
        color:#ffffff;
    }
    
}
@media (max-width:500px) {
    .backround-img{
        width: 100%;
        /* height: 100%; */
    }    
    
}

/*-------------------------------------------------------------------------------------------------------*/




/*----------------------------------------------MENU-BURGER----------------------------------------------*/
.header_burger {
    display: none;
}
.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}
.list_item{
    list-style: none;
    margin: 22px 10px 0 20px;
}   
.header_link{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}
/*-------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------DROP-MENU-----------------------------------------------*/
.dropdown-menu{
    background-color: #000000;
    width: 25%;
    border-radius: 5%;
}
.drop_little{
    color: #fff;
    margin: 10px 0 20px 0;
}
.drop_little::after{
    color: #fff;
}
/*------------------------------------------------------------------------------------------------------*/



@media(max-width:960px){
    body.lock{
        overflow: hidden;
    }
 
    .header_burger{
        padding-right: 50px;
        display: block;
        position: relative;
        width: 35px;
        height: 25px;
        position: relative;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 10px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
        height: 3px;
    }
    .header_burger::after{
        bottom: 0;
        height: 3px;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #262428;
        padding: 70px 10px 20px 10px;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        display: block;
    }
    .list_item{
        margin: 25px 0;
        padding: 0 0 0 2px;
    }
    .header_link{
        font-size: 25px;
    }
    .dropdown-menu{
        width: 50%;
    }
    .drop_little{
        font-size: 23px;
    }

}



/*--------------------------------------------CONTENT-------------------------------------------*/
.content {
    padding: 27% 5% 10%;
}
.content_text {
    font-size: 18px;
    line-height: 33px;
}
.content_text p{
    margin: 50px 0 20px 0;
}
.slider_one{
    width: 70%;
    text-align: center;
    justify-content: center;
}
.slide{
    text-align: center;
    justify-content: center;
}
@media(max-width:2400px){  
    .content{
        padding: 29% 5% 10px;
    }
    .focus_word{
        font-size: 70px;
        margin-top: 180px;
    }
}
@media(max-width:1950px){  
    .content{
        padding: 26% 5% 10px;
    }
}
@media(max-width:1750px){  
    .content{
        padding: 23% 5% 10px;
    }
    .focus_word{
        font-size: 65px;
        margin-top: 160px;
    }
}
@media(max-width:1450px){  
    .content{
        padding: 33% 5% 10px;
    }
    .focus_word{
        font-size: 60px;
        margin-top: 140px;
    }
}
@media(max-width:1200px){  
    .content{
        padding: 32% 5% 10px;
    }
    .focus_word{
        font-size: 55px;
        margin-top: 120px;
    }
}
@media(max-width:1100px){  
    .content{
        padding: 32% 5% 10px;
    }
    .focus_word{
        font-size: 50PX;
        margin-top: 100px;
    }
}
@media(max-width:1000px){  
    .content{
        padding: 31% 5% 10px;
    }
    .focus_word{
        font-size: 45px;
        margin-top: 90px;
    }
}
@media(max-width:960px){  
    .content{
        padding: 29% 5% 10px;
    }
    .focus_word{
        font-size: 40px;
        margin-top: 50px;
    }
}

@media(max-width:760px){  
    .content{
        padding: 25% 5% 10px;
    }
    .focus_word{
        font-size: 35px;
        margin-top: 25px;
    }
    .content_text{
        font-size: 13px;
    }
}
@media(max-width:560px){  
    .content{
        padding: 18% 5% 10px;
    }
    .focus_word{
        font-size: 30px;
        margin-top: 20px;
    }
    .content_text{
        font-size: 13px;
    }
}
@media(max-width:420px){  
    .content{
        padding: 16% 5% 10px;
    }
    .focus_word{
        font-size: 25px;
        margin-top: 10px;
    }
    .content_text{
        font-size: 11px;
    }
}

.text_photo{
    display: flex;
    text-align: center;
    justify-content: center; 
}

.main_articles{
    display: flex;
    margin-bottom: 50px;
    margin: 0 -60px;
    transition: display 0.5s ease; 
    animation: block 3s 1;
 }
 .articles{
    height: 100%;
    width: 100%;
    margin: 40px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Тінь з усіх сторін */
    padding: 20px 30px;
    color: #000000;
}
.body_articles{
    margin: -20px;
}
.date {
    font-family: "Courier New", monospace; 
    margin: -50px 0;
}
.title_articles{
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}
.text_articles{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: "Source Sans Pro";
}
.content_img{
    width: 100%;
}
.from{
    display: block;
    font-family: "Courier New", monospace; 
    font-size: 15px;
}
.profile_logo{
    width: 30px;
    height: 30px;
}
.author{
    font-style: 18px;
    margin: 0;
}
.main_articles h3:hover{
    color: rgb(106, 0, 255);
    transition: 0.6s;
}

@media (max-width:1100px) {
    .date{
        font-size: 14px;
    }
    .title_articles{
        font-size: 24px;
    }
    .body_articles{
        font-size: 16px;
    }
    .from{
        font-style: 13px;
    }
    .author{
        font-style: 10px;
    }
}
@media (max-width:960px) {
    .main_articles{
        display: inline-block;
    }
}
.title{
    font-family: Source Sans Pro;
    font-size: 1.5;
    text-align: center;
    margin-bottom: 40px;
}
.section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.slider .slider_two .slider_tree img{
    overflow: hidden;
}
.slide {
    width: 100%;
    display: none;
}
.slide.active {
    display: block;
}
@media (max-width:1000px) {
    .section{
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}
/*-----------------------------------------------------------------------------------------------*/





/*------------------------------------------ FOOTER----------------------------------------------*/
.footer{
    
    background-color: #000000;
    width: 100%;
    bottom: 0; 
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}
.footer_text{
    color: aliceblue;
}
.footer_text h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 12px;
}
.footer_text p{
    font-size: 16px;
}
.logo img{
    padding-top: 5px;
    max-width: 300px;
}
.footer_social_network {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
.footer_social_network a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 20px 15px; 
    padding: 10px;
    background-color: #2c0b52;
    border-radius: 50%;
}
.footer_social_network a:hover{
    background-color: #5b05be;
    transition: 0.8s;
}
.footer_social_network img {
    max-width: 40px;
}
@media(max-width:375px){  
    .footer_social_network img {
        max-width: 40px;
    }
    .footer_social_network a {
        margin: 15px 10px; 
        padding: 1px;
        background-color: #000000;
        border-radius: 50%;
    }
}
/*----------------------------------------------------------------------------------------*/